<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
		<!-- application wide configurations  -->		
		
		<bean id="refsetBrosweServiceStubData" class="org.ihtsdo.otf.refset.service.RefsetBrowseServiceStubData">
			<property name="csv" ref="refset.csv.resources" />
		</bean>

		<util:map id="refset.csv.resources">
			<entry  key="refset" value="file:src/main/resources/data/refset.csv" />
			<entry  key="members" value="file:src/main/resources/data/members.csv" />
		</util:map>

</beans>
